a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #EFE0B9;
}

a.navbar-brand:hover {
  color: #E4B04A;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
